package com.projeto.service;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import com.projeto.persistence.LoginDao;
import com.projeto.persistence.UserDao;
import com.projeto.persistence.vo.User;

@Service
public class UserService {
	
	@Autowired
	private UserDao userDao;
	
	@Autowired
	private LoginDao loginDao;

	public boolean insertUser(User user) {
		loginDao.insertLogin(user.getLogin());
		System.out.println(user.getLogin().getLoginID());
		userDao.insertUser(user);
		return user.getUserID() > 0 ? true : false;
	}
	
	public UserDao getUserDao() {
		return userDao;
	}

	public void setUserDao(UserDao userDao) {
		this.userDao = userDao;
	}
	
	
}
